<style>
  #assistent {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #337ab7;
    background-color: #F3F5FB;
    border-radius: 8px;
    width: 140px;
    height: 40px;
    margin-left: 10px;
  }

  #assistent:hover {
    background-color: #E4ECFC;
  }
</style>

<li role="tab" tabindex="0" ng-class="[{active: active, disabled: disabled}, classes]" class="uib-tab nav-item ng-scope ng-isolate-scope" index="'search'" select="$ctrl.onTabSelect('search')" heading="Ассистент" id="assistent">
  <div>Ассистент</div>
</li> 

